
.key-container button:nth-child(23) {
    margin-left: 30px;
}

.key-container button:nth-child(23),
.key-container button:nth-child(31) {
    width: 68px;
}

.key-container button:nth-child(31) {
    background-color: #DD1111;
}

.key-container button:nth-child(23) {
    background-color: #11dd11dc;
}

.tile.flip {
    animation: 1s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}