
.key-container button:nth-child(23) {
    margin-left: 30px;
}

.key-container button:nth-child(23),
.key-container button:nth-child(31) {
    width: 68px;
}

.key-container button:nth-child(31) {
    background-color: #DD1111;
}

.key-container button:nth-child(23) {
    background-color: #11dd11dc;
}